{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <br>
        <br>
        <h1 style="color: white;background: linear-gradient(to bottom right,rgb(0, 230, 230),rgb(230, 0,115));>">
            Welcome to DeltaQuantum }! </h1><br>
        <h4 style="color: white;background: linear-gradient(to bottom right,rgb(0, 230, 230),rgb(230, 0,115));">
            Share your thoughts and experiences.</h4>
    </div>
    <h1>This page will be released in stable website!</h1>
{% endblock content %}